<page-title></page-title>

<form class="mt-5" [formGroup]="frmHomePage" (ngSubmit)="submit()">

    <div class="container">
        <div formGroupName="group1" class="form-area">
            <div class="row">
                <div class="col-12">
                    <textarea #txtDetail formControlName="detail" readonly class="form-control" [value]="this.detail.data" rows="15"></textarea>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="input-group mt-2">
                        <input #txtFile type="file" class="form-control" (change)="this.onFileSelected($event)"/>

                        <button #btnConfirm type="submit" class="btn btn-outline-secondary">
                            <span class="icon font">✔️</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="startValidation" class="mt-2 border">
            <div *ngIf="getDetail?.invalid && (getDetail?.dirty || getDetail?.touched)" class="alert alert-warning" role="alert">
                <div *ngIf="getDetail?.errors?.['textContainsInicialValue']">The detail is invalid.</div>
                <div *ngIf="getDetail?.errors?.['required'] || getDetail?.errors?.['notOnlyWhitespace']">The detail is empty.</div>
                <div *ngIf="getDetail?.errors?.['minlength']">The detail must be at least 2 characters long.</div>
            </div>
        </div>

    </div>
</form>

<page-end></page-end>