:root {
    --white: #FFFFFF;
    --red: #C20331; /* corrected hex */
    --black: #333333;
    --black2: #555555;
    --gray-hover: #E3E3E3;
    --gray: #ECEFFC;
    --dark: #000000;
    --blue: #0051a1;
    --success: #144944;
    --info: #0051a1;
    --warning: #fa8408;
    --danger: #c20331;

    --border-radius: 3px;
    --header-height: 56px;
    --footer-height: 223px;
}